$textwidth: (100/1.618/1.618/1.618) * 1vw;

aside {
  z-index: 1;
  overflow-y: scroll;
  padding: 1rem;
  width: $textwidth;
  height: 100vh;
  background-color: #fdf6e3;
  font-size: 1.2rem;
}

aside > ul {
  margin: 0;
  padding: 0;
  list-style: none;

  & > li { transition: color 150ms linear; }
  & > ol { transition: color 150ms linear; }
}

aside > ul > li:not(:first-child),
aside > ul > ol:not(:first-child) {
  margin-top: 6.472rem;
}

.text--inactive { color: #eee8d5; }
.text--active   { color: #657b83; }
