#console {
  z-index: 3;
  position: absolute;
  width: auto;
  height: auto;
  background-color: #888;
  border-top-left-radius: 1em;
  bottom: 0;
  right: 0;
  padding: 0.5rem 0.75rem;
  transition: opacity 150ms linear;
  opacity: 0.25;

  &:hover {
    opacity: 1;
  }

  & p,span {
    font-size: 0.8rem;
    font-family: Inconsolata;
    margin: 0;
  }
}

#lhstate, #rhstate {
  text-transform: capitalize;
}