#console {
  z-index: 3;
  position: absolute;
  width: auto;
  height: auto;
  background-color: #fdf6e3;
  border-top-left-radius: 1em;
  bottom: 0;
  right: 0;
  padding: 0.5rem 0.75rem;

  & p,span {
    font-size: 0.8rem;
    font-family: Inconsolata;
    margin: 0;
  }
}

#lhstate, #rhstate {
  text-transform: capitalize;
}

hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  margin: 0.5rem -0.75rem;
}