* {
  box-sizing: border-box;
  font-family: "Clear Sans";
  color-profile: sRGB;
  rendering-intent: auto;
}

html,body {
  color: #444;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

#cursor {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}