* {
  box-sizing: border-box;
  font-family: "Roboto";

  color-profile: sRGB;
  rendering-intent: auto;
}

html,body {
  color: #444;
}

body {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
}

#cursor {
  pointer-events: none;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
}

p {
  -webkit-font-feature-settings: "lnum" 1, "frac" 1, "zero" 1, "nalt" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
     -moz-font-feature-settings: "lnum" 1, "frac" 1, "zero" 1, "nalt" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
     -moz-font-feature-settings: "lnum=1, frac=1, zero=1, nalt=1, kern=1, liga=1, dlig=1, hlig=1, clig=1";
      -ms-font-feature-settings: "lnum" 1, "frac" 1, "zero" 1, "nalt" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
       -o-font-feature-settings: "lnum" 1, "frac" 1, "zero" 1, "nalt" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;
          font-feature-settings: "lnum" 1, "frac" 1, "zero" 1, "nalt" 1, "kern" 1, "liga" 1, "dlig" 1, "hlig" 1, "clig" 1;

  -webkit-font-smoothing: antialiased;
      -ms-font-smoothing: antialiased;
       -o-font-smoothing: antialiased;
          font-smoothing: antialiased;

  text-rendering: optimizeLegibility;

  font-size-adjust: auto;
  font-kerning: normal;
}