$mainwidth: 100-$textwidth;

main {
  z-index: 1;
  width: $mainwidth;
  background-color: #93a1a1;
  overflow-y: scroll;
  height: 100vh;
}

.zoomContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  -webkit-transform: translate3d(0,0,0);
}

.zoomTarget {
  -webkit-transform: translate3d(0,0,0);
}

.item {
  width: 25%;
  height: 25%;
  display: inline-block;
}

img {
  width: 100%;
}