$mainwidth: 100-$textwidth;

main {
  z-index: 1;
  width: $mainwidth;
  background-color: #002b36;
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  flex-flow: row wrap;
}

.item {
  width: $mainwidth/4;
  height: $mainwidth/4;
  display: inline-block;
  transition: all 300ms linear;
}

img {
  width: inherit;
  border: 0;
}

.inactive {
  transition: all 300ms linear;
  opacity: 0.1618;
}

.active {
  transition: all 300ms linear;
  position: absolute;
  left: $textwidth;
  margin: 0 auto;
  height: 80vh;
  width: 0.6*$mainwidth;
}

.modal {
  // display: none;
  position: absolute;
  top: 0;
  left: $textwidth;
  width: $mainwidth;
  height: 100%;
  background-color: rgba(50,50,50,0.8);
}

.modal > article {
  z-index: 1;
  width: 80%;
  height: 80vh;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
  background-color: #fdf6e3;
  overflow: hidden;
  text-align: center;
}