<template id="kinectNavOverlay">
    <style>
    @-webkit-keyframes fade {
      0%   { opacity: 0; }
      100% { opacity: 1; }
    }
    :host {
      position: absolute;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      background-color: rgba(40,40,40,0.85);

      pointer-events: none;
      z-index: 999;

      -webkit-animation-name: fade;
      -webkit-animation-duration: 1s;
    }

    * {
      box-sizing: border-box;
      pointer-events: none;
    }

    hr {
      border: 0;
      height: 0;
      border: 1.618px solid rgba(255, 255, 255, 0.8);
    }

    .container {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }

    h1, h2, small, p, pre {
      font-family: "Source Sans Pro";

      color: #fff;

      margin: 0;
    }

    h1 {
      font-size: 3.236vw;
      font-weight: 300;

      margin: 3.236vh;
      text-align: center;
    }

    h2 {
      font-size: 1.618vw;
      font-weight: 200;

      margin: 4.854vh 0;
      text-align: center;
    }

    small {
      font-size: 1vw;
      font-weight: 200;
      font-style: italic;

      display: block;
      margin: 9.708vh 0;
      text-align: center;
    }

    pre {
      display: inline;
      padding: 0.1618vw 0.4045vw;
      margin: 0 0.1618vw;

      border: 1px solid #fff;
      border-radius: 0.4045vw;
    }
    .user-container {
      font-size: 1.2944vw;

      width: 30vw;
      margin: 4.854vh auto;
    }
    .user-priority {
      float: right;
      margin: 0;
    }
    </style>

    <div class="container">
      <h1>Quetzalcoatl Kinect Control System</h1>
      <hr>
      <h2>Authorized Users</h2>
      <div class="user-container">
        <p class="user-name">Donald Greenberg <span class="user-priority">Priority Level 1</span></p>
        <p class="user-name">Leart Ulaj <span class="user-priority">Priority Level 2</span></p>
        <p class="user-name">Kenneth Lim <span class="user-priority">Priority Level 2</span></p>
      </div>
      <small>Press <pre>Shift + G</pre> to switch to generic user mode.</small>
    </div>
</template>
