<html>
<head>
<!-- <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Source+Sans+Pro:300,200,200i/Anonymous+Pro:400"> -->
<style>
html, body {
  margin: 0;
  padding: 0;
}
</style>
</head>
<body>
</body>
<script src="../../lib/jquery/dist/jquery.min.js"></script>
<script src="../../lib/velocity/jquery.velocity.min.js"></script>
<script src="../../lib/kineticjs/kinetic.min.js"></script>
<script src="../../lib/kineticjs-tips-and-tools/debug/kinetic.debug.js"></script>
<script src="../../lib/pleasejs/Please.min.js"></script>

<script async src="../js/Util.js"></script>
<script async src="../js/appInterface.js"></script>
<script async src="../js/kinectInterface.js"></script>
<script async src="../js/userInterface.js"></script>
<script async src="../js/cursorInterface.js"></script>

<script src="../js/bootstrap.js"></script>
</html>
